---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import SectionHeader from '../components/SectionHeader.astro';

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} id="team">
   <div class="pattern-graph-secondary-500/30 py-10">
      <div class="">
         <SectionHeader heading={blok.heading} colour="secondary" />
         <div class="gap-8 flex flex-wrap justify-center">
            {
               blok.columns?.map((blok: any) => {
                  return <StoryblokComponent blok={blok} />;
               })
            }
         </div>
      </div>
   </div>
</section>
