---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import SectionHeader from '../components/SectionHeader.astro';

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} id="testimonials">
   <div class="pattern-texture-primary-500/30 py-10">
      <div class="">
         <SectionHeader heading={blok.heading} subheading={blok.subheading} colour="secondary" />
         <div class="flex flex-col flex-wrap gap-4 p-8 mb-8 lg:flex-row lg:mb-0 justify-center">
            {
               blok.items?.map((blok: any) => {
                  return <StoryblokComponent blok={blok} />;
               })
            }
         </div>
      </div>
   </div>
</section>
